extends layout

block content
 header
   h1= title

  ul#retweets
    if ( typeof(tweets) != "undefined" )
      each tweet in tweets
        li
          img(src="logo.jpg")
          span Twitter Owner: #{tweet.owner} Tweet: #{tweet.text}

          hr
    p @JirsonTavera